<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeUser</servlet-name>
        <servlet-class>WelcomeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCookie</servlet-name>
        <servlet-class>CreateCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCookie</servlet-name>
        <servlet-class>ReadCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>SessionTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HawaServlet</servlet-name>
        <servlet-class>org.niraj.webapplication.HawaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeUser</servlet-name>
        <url-pattern>/WelcomeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCookie</servlet-name>
        <url-pattern>/CreateCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCookie</servlet-name>
        <url-pattern>/ReadCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/SessionTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HawaServlet</servlet-name>
        <url-pattern>/HawaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
